# Ignore all node_modules folders
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment files
.env
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
server/.env
.venv/
__pycache__/

# testing
client/coverage
server/testRoutes.js

# production
client/build

# Ignore system files
.DS_Store

# dependencies
.pnp
.pnp.js

# prisma
generated/prisma/

# troubleshooting
npm-debug.log*
yarn-debug.log*
yarn-error.log*
